body{
    height: 2400px;
}

.logo{
    width: 50px;
    height: 50px;
}

.artigo{
    width: 500px;
    height: 250px;
}

.header{
    display: flex;
}

.menu {
    display: flex;
    gap: 1em;
}

.menulist{
    list-style: none;
}

ul{
    list-style: none;
}